html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
  background-color: #333333;
  color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
